[run]
omit =
    venv/*,
    htmlcov/*,
    *static/*,
    *tests*,
    status/migrations/*,
    status/migrations
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *urls.py,
    *wsgi.py,
    manage.py,
    *asgi.py,
    *__init__.py

plugins =
    django_coverage_plugin

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError