# Don't track content of these folders
venv
venv/
venv/*

ServiceStatus/settings.py
# ServiceStatus/settings-dev.py

status/migrations/0*.py

#status/mail_sender.py
status/mail_sender-dev.py

.DS_Store

.idea
.idea/
.idea/*
.idea/*.xml
.idea/*.iml
.idea/dictionaries

__pycache__
__pycache__/
__pycache__/*