django==2.0.5
gunicorn
django-admin-list-filter-dropdown==1.0.3
django-ckeditor==5.9.0
django-colorfield==0.2.2
django-debug-toolbar==2.1
django-extensions==2.2.6
django-js-asset==1.2.2
django-smart-selects==1.5.4
django-tinymce==2.8.0
mysqlclient==1.4.6
sqlparse==0.3.0
validate-email==1.3
