
body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    font-family: 'Fira Sans', sans-serif;
}

#logo{
    width: auto;
    height: 2.5rem;
}

.navbar-nav .active{
    background-color: rgb(212, 212, 212);
}

.bold{
    font-weight: 700;
}

#footer{
    background-color: #1B2B60;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

#service_status_heading h1{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: Semi-Bold;
    font-size: 1.5rem;
}

#list_events{
    background-color: #E9ECEF;
}

#list_events p{
    margin-bottom: 0.3rem;
}

a { color: inherit; }

a:hover
{
     text-decoration:none;
     color: inherit;
}

/* Default size for xs screen sizes */
.navbar-light .navbar-nav .nav-link, .btn, .dropdown-item, p {
        font-size: 0.5rem;
}


/* Adjusting elements according to screen size. Responsive */

@media (min-width: 576px) {   /*Small*/
    .navbar-light .navbar-nav .nav-link, .btn, .dropdown-item, p{
        font-size: 0.7rem;
    }

    #service_status_heading h1{
    font-size: 1.8rem;
    }
}

@media (min-width: 768px) {   /*Medium*/
    .navbar-light .navbar-nav .nav-link, .btn, .dropdown-item, p{
        font-size: 0.8rem;
    }

    #service_status_heading h1{
    font-size: 2rem;
    }
}

@media (min-width: 992px) {  /*Large*/

}

@media (min-width: 1200px) {   /*Extra Large*/

}